.app {
    position: fixed;
    height: 720px;  
    width: 1280px;
    border: 4px solid #000;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: skyblue;
    overflow: hidden;
    z-index: 0;
  }